/*Slides fonts*/
@font-face {
    font-family: Rubrik;
    src: url("../fonts/ICARubrikRegular.otf");
}
@font-face {
    font-family: Rubrik;
    font-weight: bold;
    src: url("../fonts/ICARubrikBold.otf");
}
@font-face {
    font-family: Rubrik;
    font-weight: 300;
    src: url("../fonts/ICARubrikBold.otf");
}
@font-face {
    font-family: Hand Regular;
    src: url("../fonts/ICAHandRegular.otf");
}
@font-face {
    font-family: Rubrik Siffror;
    src: url("../fonts/ICARubrikSiffror.otf");
}
@font-face {
    font-family: Rubrik Skiss;
    src: url("../fonts/ICARubrikSkissRegular.otf");
}
@font-face {
    font-family: Rubrik Skiss;
    font-weight: bold;
    src: url("../fonts/ICARubrikSkissBold.otf");
}
@font-face {
    font-family: ICA;
    src: url("../fonts/ICAText-Regular.otf");
}
@font-face {
    font-family: ICA;
    font-weight: bold;
    src: url("../fonts/ICAText-Black.otf");
}
@font-face {
    font-family: ICA;
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/ICAText-BoldItalic.otf");
}
@font-face {
    font-family: ICA;
    font-weight: 300;
    src: url("../fonts/ICAText-Light.otf");
}

body * {
    color: #154625;
    font-family: Rubrik, sans-serif;
}
button {
    cursor: pointer;
}
.container {
    width: 40%;
    text-align: center;
}
h1 {
    font-size: 70px;
}

/*Start page*/
.start-page h3 {
    font-family: ICA, sans-serif;
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
.start-page .container button {
    font-size: 28px;
    color: white;
    background-color: #154625;
    padding: 15px 70px 15px 70px;
    border-radius: 30px;
    font-family: ICA, sans-serif;
    border: 0;
    margin-top: 20px;
}

/*Consent page*/
.consent-page {
    width: 1135px;
    display: flex;
    margin-left: 50px;
}
.consent-page .half {
    width: 44%;
    height: 700px;
}
.consent-page .left {
    float: left;
    text-align: center;
    border-right: 1px solid #154625;
    padding-right: 5px;
}
.consent-page h2 {
    font-size: 45px;
    line-height: 45px;
    text-align: left;
}
.consent-page h3 {
    font-size: 22px;
    font-family: ICA, sans-serif;
    font-weight: 300;
    text-align: left;
    margin-top: -15px;
}
.consent-page h3 b {
    font-family: ICA, sans-serif;
}
.consent-page .colored-box {
    margin-top: 55px;
    width: 446px;
    height: 180px;
    border-radius: 10px;
    background-color: #abd4aa;
    padding-right: 20px;
}
.consent-page .colored-box img {
    padding-left: 20px;
    padding-top: 20px;
    float: left;
}
.consent-page .colored-box h3 {
    font-size: 18px;
    padding-top: 25px;
    text-align: justify;
}
.consent-page .colored-box h3:nth-child(3) {
    padding-top: 10px;
    padding-left: 30px
}
.consent-page .right {
    padding-top: 17px;
    float: right;
    padding-right: 40px;
    padding-left: 30px;
}
.consent-page .right h2 {
    font-size: 23px;
}
.consent-page .right h3 {
    margin-top: -27px;
    font-size: 18px;
    width: 77%;
}
.consent-page .right button {
    font-size: 20px;
    background-color: #aad3a9;
    padding: 5px 15px 10px 15px;
    border-radius: 23px;
    font-family: ICA, sans-serif;
    border: 0;
    margin-right: 10px;
    width: 60px;
}
.consent-page .right .confirmation {
    display: flex;
    align-items: center;
}
.consent-page .confirmation h3 {
    margin-top: 0;
    padding-top: 20px;
}
.consent-page .confirmation.first {
    margin-top: -21px;
}
.consent-page .confirmation.second {
    margin-top: -25px;
    margin-bottom: -20px;
}
.consent-page .save-div {
    display: flex;
    margin-top: 55px;
    margin-left: 20px;
}
.consent-page .save-div button {
    width: unset;
    margin-left: 20px;
    color: white !important;
    font-size: 30px;
    background-color: #8ca494;
    border-radius: 30px;
    padding: 5px 45px 5px 45px;
}

/*Consent page part 2*/
.consent-page.part2 .left {
    padding-top: 60px;
    padding-right: 3px;
}
.consent-page.part2 .right {
    padding-top: 39px;
}
.consent-page.part2 .left h3 {
    margin-bottom: 45px !important;
    font-size: 23px;
    font-weight: 500;
}
.consent-page.part2 .scroll .no-title h3 {
    width: 93%;
}
.consent-page.part2 .scroll {
    padding-top: 20px;
    padding-right: 20px;
    height: 540px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 30px;
    margin-right: 14px;
}
.consent-page.part2 ::-webkit-scrollbar {
    width: 10px;
}
.consent-page.part2 ::-webkit-scrollbar-track {
    background: lightgrey;
}
.consent-page.part2 ::-webkit-scrollbar-thumb {
    background: #144025;
}
.consent-page.part2 .arrows {
    margin-left: -4px;
}
.consent-page.part2 .advance-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
}
.consent-page.part2 .advance-div img {
    cursor: pointer;
}
.consent-page.part2 .advance-div button {
    width: unset;
    margin-left: 20px;
    color: white !important;
    font-size: 28px;
    background-color: #144726;
    border-radius: 30px;
    padding: 5px 35px 5px 38px;
    border: 0;
    font-family: ICA, sans-serif;
    height: 65px;
}

/*Thank you page*/
.thank-you-page {
    width: 1000px;
    height: 760px;
    line-height: 720px;
    background-color: #abd4aa;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}
.thank-you-page h1 {
    margin: auto;
    align-items: center;
}
